doctype html
head
  link(href='css/style.css' rel='stylesheet')
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title 3cx converter 

.container
  h1 3cx converter 
  h2 Download
button.center(onclick="window.location.href='/download' ") Download


