doctype html
head
 
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  //link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  link(rel="stylesheet", href="css/bootstrap.min.css")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
  title 3cx Converter










  div.container
    div.row
      div.span12
        form(method='POST', action='/' enctype='multipart/form-data')
          legend 3cx Converter - 8khz PCM 16 bit signed wav
          input(type='file', name='myFile', id='myFile')
          p
          div.form-actions
            input.btn.btn-primary(type='submit', value='Upload')
            hr.hide
            a.btn.btn-primary.hide(href="/download") Download  
    hr
    div.row
      div.span12
        div.progress.progress-striped.active.hide
          div.bar(style='width: 0%')
    div.row
      div.span12   
        div.alert.hide
         
          button.close(type='button', data-dismiss='alert') x
          span
            strong.message
       
       






script(src="js/upload.js")