doctype html
head
  link(href='css/style.css' rel='stylesheet')
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title 3cx Converter

.container
  h1 3cx Converter 
  h2 Upload
  form(action='' method='POST' enctype='multipart/form-data')
    input(type='file' name='target_file' required='')
    input(type='submit' value='Upload')

